/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Lato', sans-serif;
}

/* --- CUSTOM CSS BELOW --- */

html {
  background-color: white;
}

#vizTitle, #vizSubTitle {
  width: 100%;
  text-align: center;
}

#vizTitle {
  font-size: 3em;
  margin-top: 20px;
}

@media (max-width: 780px) {
  #vizTitle { font-size: 2em; }
}

@media (max-width: 530px) {
  #vizTitle { font-size: 1.5em; }
}

#play-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

#play-button {
  width: 100px;
  height: 30px;
  background-color: gray;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 30px;
  text-align: center;
  color: white;
  user-select: none;
}

#play-button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

/*slider CSS based on Jane Pong's demo:*/
/*https://bl.ocks.org/officeofjane/47d2b0bfeecfcb41d2212d06d095c763*/

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

/*votebar CSS*/

#voteBarSVG {
  margin: 10px 0px 10px 0px;
}

.voteGrayBar,
.hillaryVoteBar,
.trumpVoteBar,
.toWinNotchBar {
  stroke-width: 10px;
}

.voteGrayBar {
  stroke: #000;
  stroke-opacity: 0.3;
}

.hillaryVoteBar {
  stroke: #1875BC;
}

.trumpVoteBar {
  stroke: red;
}

.toWinNotchBar {
  stroke: white;
}

.votesNeededToWinLabel {
  opacity: 0.5;
}

.statesGroups:hover path {
  opacity: 0.7;
}

.bottomLink {
  cursor: pointer;
}

.bottomLink:hover {
  fill: blue;
  text-decoration: underline;
}

tspan.bottomBoldLabel {
  font-weight: bold;
}
